 {% extends "base.html" %} {% block tabs %} {{ super() }}
 <link rel="stylesheet" href="assets/stylesheets/home.css">
<section class="mdx-container">
    <div class="md-grid md-typeset">
        <div class="mdx-hero">
            <div class="mdx-hero__content">
                <h1>Hopcolony</h1>
                <p>{{ config.site_description }}</p>
                <a href="https://console.hopcolony.io" target=”_blank” title="Go to Console" class="md-button md-button--primary">
            Try now!
          </a>
                <a href="latest/docs/introduction" title="Get Started" class="md-button">
            Getting Started
          </a>
            </div>
        </div>
    </div>
</section>

<section class="cards">
    <div class="card">
        <a href="latest/docs/authentication/introduction" title="Go to Authentication">
            <div class="container">
                <h1><b>Authentication</b></h4>
                    <p>Keep track of the users of your app.</p>
            </div>
    </div>

    <div class="card">
        <a href="latest/docs/documents/introduction" title="Go to Documents">
            <div class="container">
                <h1><b>Documents</b></h4>
                    <p>NoSQL Database to store all your JSON documents.</p>
            </div>
    </div>

    <div class="card">
        <a href="latest/docs/drive/introduction" title="Go to Drive">
            <div class="container">
                <h1><b>Drive</b></h4>
                    <p>Object Storage Server to store all your files.</p>
            </div>
    </div>

    <div class="card">
        <a href="latest/docs/topics/introduction" title="Go to Topics">
            <div class="container">
                <h1><b>Topics</b></h4>
                    <p>Message Broker to publish and subscribe to queues and topics.</p>
            </div>
    </div>
</section>
{% endblock %}